<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcy.common.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="tcy.common.model.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="leavel" property="leavel" jdbcType="TINYINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_id, product_id, create_time, parent_id, leavel,content,images,deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tcy.common.model.CommentWithBLOBs" >
    insert into comment (id, user_id, product_id, 
      create_time, parent_id, leavel,
      content, images,deleted)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=BIGINT}, #{leavel,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR}, #{images,jdbcType=LONGVARCHAR},#{deleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="tcy.common.model.CommentWithBLOBs" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="leavel != null" >
        leavel,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="leavel != null" >
        #{leavel,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tcy.common.model.CommentWithBLOBs" >
    update comment
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="leavel != null" >
        leavel = #{leavel,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="tcy.common.model.CommentWithBLOBs" >
    update comment
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=BIGINT},
      leavel = #{leavel,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR},
      images = #{images,jdbcType=LONGVARCHAR},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tcy.common.model.Comment" >
    update comment
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=BIGINT},
      leavel = #{leavel,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectCommentsByProductId" resultType="tcy.common.model.Comment">
    SELECT
      *,u.`name` AS userName
    FROM
      comment c
    LEFT JOIN
      `user` u ON c.user_id = u.id
    WHERE
      c.product_id = #{productId} AND c.deleted = 0
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
    ORDER BY c.create_time DESC
  </select>

  <select id="countCommentNumByProduct" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM
      comment c
    WHERE
      c.product_id = #{productId} AND c.deleted = 0
  </select>

  <select id="countCommentNumForStatus" resultType="java.lang.Integer">
    select count(*)from comment where product_id = #{productId} and leavel = #{leavel}
  </select>

  <select id="countCommentNumForImages" resultType="java.lang.Integer">
    select count(*) from comment where product_id = #{productId} and images is not null;
  </select>

  <select id="listCommentsByUser" resultType="tcy.common.model.Comment">
    SELECT
      *, p.name as productName, p.description as productDescription
    FROM
      comment c
    LEFT JOIN
      product p ON c.product_id = p.id
    LEFT JOIN
      product_img pi ON pi.product_id = p.id
    WHERE
      user_id = #{userId} AND pi.type = 1
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
    ORDER BY c.create_time DESC;
  </select>

  <update id="deleteComment">
    UPDATE comment SET deleted = 1 WHERE id = #{commentId}
  </update>
</mapper>