<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcy.common.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="tcy.common.model.Product" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="tag" property="tag" jdbcType="TINYINT" />
    <result column="shelf" property="shelf" jdbcType="TINYINT" />
    <result column="shelf_time" property="shelfTime" jdbcType="TIMESTAMP" />
    <result column="storage_time" property="storageTime" jdbcType="TIMESTAMP" />
    <result column="integral_config_id" property="integralConfigId" jdbcType="BIGINT" />
    <result column="sub_type" property="subType" jdbcType="TINYINT" />
    <result column="brands" property="brands" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, description, stock, sell_num, cost, retail_price, source, tag, shelf, 
    shelf_time, storage_time, integral_config_id, sub_type,brands
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tcy.common.model.Product" >
    insert into product (id, name, type, 
      description, stock, sell_num, 
      cost, retail_price, source, 
      tag, shelf, shelf_time, 
      storage_time, integral_config_id, sub_type,brands
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, #{sellNum,jdbcType=INTEGER}, 
      #{cost,jdbcType=DECIMAL}, #{retailPrice,jdbcType=DECIMAL}, #{source,jdbcType=TINYINT}, 
      #{tag,jdbcType=TINYINT}, #{shelf,jdbcType=TINYINT}, #{shelfTime,jdbcType=TIMESTAMP}, 
      #{storageTime,jdbcType=TIMESTAMP}, #{integralConfigId,jdbcType=BIGINT}, #{subType,jdbcType=TINYINT},
      #{brands,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="tcy.common.model.Product" keyProperty="id" useGeneratedKeys="true">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="sellNum != null" >
        sell_num,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="shelf != null" >
        shelf,
      </if>
      <if test="shelfTime != null" >
        shelf_time,
      </if>
      <if test="storageTime != null" >
        storage_time,
      </if>
      <if test="integralConfigId != null" >
        integral_config_id,
      </if>
      <if test="subType != null" >
        sub_type,
      </if>
      <if test="brands != null">
        brands,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="source != null" >
        #{source,jdbcType=TINYINT},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=TINYINT},
      </if>
      <if test="shelf != null" >
        #{shelf,jdbcType=TINYINT},
      </if>
      <if test="shelfTime != null" >
        #{shelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storageTime != null" >
        #{storageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="integralConfigId != null" >
        #{integralConfigId,jdbcType=BIGINT},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=TINYINT},
      </if>
      <if test="brands != null">
        #{brands,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tcy.common.model.Product" >
    update product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        sell_num = #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=TINYINT},
      </if>
      <if test="shelf != null" >
        shelf = #{shelf,jdbcType=TINYINT},
      </if>
      <if test="shelfTime != null" >
        shelf_time = #{shelfTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storageTime != null" >
        storage_time = #{storageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="integralConfigId != null" >
        integral_config_id = #{integralConfigId,jdbcType=BIGINT},
      </if>
      <if test="subType != null" >
        sub_type = #{subType,jdbcType=TINYINT},
      </if>
      <if test="brands != null">
        brands = #{brands,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tcy.common.model.Product" >
    update product
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      sell_num = #{sellNum,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      source = #{source,jdbcType=TINYINT},
      tag = #{tag,jdbcType=TINYINT},
      shelf = #{shelf,jdbcType=TINYINT},
      shelf_time = #{shelfTime,jdbcType=TIMESTAMP},
      storage_time = #{storageTime,jdbcType=TIMESTAMP},
      integral_config_id = #{integralConfigId,jdbcType=BIGINT},
      sub_type = #{subType,jdbcType=TINYINT},
      brands = #{brands,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listAllProduct" resultType="tcy.common.model.Product">
    select
        p.*,pi.url
    from
      product p
    LEFT JOIN product_img pi ON p.id = pi.product_id
    WHERE
    pi.type = 1
    order by p.sell_num,p.shelf_time desc
    limit #{offset},#{length};
  </select>

  <select id="listProductByType" resultType="tcy.common.model.Product">
    select
        p.*,pi.url
    from
    product p
    LEFT JOIN product_img pi ON p.id = pi.product_id
    where
    pi.type = 1
    AND p.`type`=#{productTypeId}
    order by p.sell_num,p.shelf_time desc
    limit #{offset},#{length};
  </select>

  <select id="listProductBySearch" resultType="tcy.common.model.Product">
    SELECT
    p.*,pi.url
    FROM
    product p
        LEFT JOIN
    product_type pt ON p.type = pt.id
    LEFT JOIN product_img pi ON p.id = pi.product_id
    WHERE pi.type = 1
    <if test="found != null">
      AND p.`name` LIKE CONCAT('%',#{found}, '%')
      OR pt.name LIKE CONCAT('%',#{found}, '%')
      OR pt.description LIKE CONCAT('%',#{found}, '%')
      OR p.brands LIKE CONCAT('%',#{found}, '%')
      OR p.description LIKE CONCAT('%',#{found}, '%')
      ORDER BY p.sell_num , p.shelf_time
      LIMIT #{offset},#{length}
    </if>
  </select>

  <select id="selectProductForTag" resultType="tcy.common.model.Product">
    select *from product p left join product_img pi on p.id = pi.product_id where p.tag = #{tag};
  </select>

  <select id="selectProductByClothingConfig" resultType="tcy.common.model.Product">
    SELECT p.* FROM clothing_config cc LEFT JOIN product p ON cc.product_id = p.id WHERE cc.id = #{ccId}
  </select>

  <select id="selectProductForEvaluated" resultType="tcy.common.model.Product">
    SELECT
    p.*
FROM
    shopping_cart sc
        LEFT JOIN
    clothing_config cc ON sc.product_id = cc.id
        LEFT JOIN
    product p ON cc.product_id = p.id
        LEFT JOIN
    product_img pi ON p.id = pi.product_id
        LEFT JOIN
    `order` o ON sc.order_id = o.id
WHERE
    pi.type = 1 AND sc.user_id = #{userId}
        AND sc.is_appraise = #{isAppraise}
        AND o.status = 4
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>

  <select id="listProductForShelf" resultType="tcy.common.model.Product">
    SELECT
      *,img.url
    FROM
      product p
    LEFT JOIN product_img img ON p.id = img.product_id
    WHERE
      p.shelf = #{isShelf} AND img.type = 1
    <if test="found != null">
      AND p.name LIKE CONCAT('%', #{found}, '%')
    </if>
    AND source = #{shopId}
    ORDER BY p.storage_time DESC
    <if test="offset != null and length != null">
      limit #{offset},#{length}
    </if>
  </select>

  <update id="shelfProductById">
    UPDATE product SET shelf = #{isShelf} WHERE id = #{productId}
  </update>

  <select id="listProductByOrderId" resultType="tcy.common.model.Product">
    SELECT
      p.*, cs.description AS sizeDescription, co.value AS colorValue, co.value_code AS colorCode, pi.url
    FROM
      shopping_cart sc
    LEFT JOIN
      clothing_config cc ON sc.product_id = cc.id
    LEFT JOIN
      color co ON cc.color_id = co.id
    LEFT JOIN
      clothing_size cs ON cc.size_id = cs.id
    LEFT JOIN
      product p ON cc.product_id = p.id
    LEFT JOIN
      product_img pi ON p.id = pi.product_id
    WHERE
      sc.order_id = #{orderId} AND pi.type = 1
  </select>
</mapper>